/*-----------CONTACTO-----------*/
.contenedor-fluido-contacto{
    margin: 6% 0!important;
    @extend %flex-center;
    div{
        div{
            h2{
                font-size: 30px;
                font-weight: 400;
                text-align: center;
                text-transform:uppercase;
                color:$color-naranja;
                margin-bottom: 25px;
            }
            div{
                h3{
                    font-size: 21px;
                    margin-top: 10px;
                }
                p{
                    font-size: 18px;
                }
                a{
                    font-size: 18px;
                    color:$color-verde-oscuro;
                }
            }
        }
        div{
            p{
                font-size: 18px;
            }
            form{
                div{
                    input{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.contenedor-mapa{
    margin-top: 10%!important;
    margin-bottom: 8%!important;
    display: block;
    align-items: center;
    justify-content: center;
    // @extend %flex-center;
    // flex-wrap:wrap;
    div{
        .contenedor-iframe{
            position: relative;
            padding-top: 56.25%;
            height: 0;
            overflow: hidden;
            iframe{
                border: 2px solid $color-verde-claro!important;
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
            }
        }
    }
}