/*-----------HEADER-----------*/
header {
    width: 100%;
    background-color:$color-blanco;
    a {
        img {
            width: 60px;
            height: 50px;
        }
    }
    nav {
        ul{
            li{
                margin: 10px 10px 0px 10px;
                .nav-link.active{
                    color:$color-verde-oscuro-2!important;
                }
                a{
                    font-size: 17px;
                    color: $color-marron!important;
                    &:hover{
                        color:$color-dorado!important;
                    }
                }
            }
        }
    }
}