/*-----------INDEX-----------*/
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(../img/hero2.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color:$color-negro-back;
    display: flex;
    justify-content: center;
    div {
        width: 60%;
        text-align: center;
        h1 {
            color: $color-naranja-oscuro;
            font-size: 60px;
            font-weight: 700;
            position: relative;
            top: 15%;
            letter-spacing: 2px;
            margin-bottom: 5px;
        }
        h2 {
            color: $color-violeta;
            font-size: 45px;
            font-weight: 600;
            position: relative;
            top: 15%;
        }
    }
}

.categorias {
    div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div {
            margin: 80px 0px;
            text-align: center;
            width: 450px;
            height: 400px;
            transition: 0.5s;
            &:hover{
                transform:scale(1.1);                
            }
            img {
                width: 400px;
                height: 400px;
            }
            h3 {
                font-size: 35px;
                color: $color-negro-cat;
                position:relative;
                bottom: 260px;
            }
        }
    }
}

.novedad {
    display: flex;
    align-items: center;
    .novedad_columna {
        .novedad_titulo{
            h3 {
                font-size: 45px;
                font-weight: 600;
                text-align: center;
                text-transform:uppercase;
                margin: 60px 0px 30px;
                color: $color-verde-oscuro;
            }
        }
        div {
            p {
                font-size: 18px;
                font-weight: 300;
                text-align:justify;
                padding: 0px 25px;
            }
        }
    }
}

.grid-galeria {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;    
    gap: 20px;
    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 1s;
            &:hover {
                transform:scale(1.2);
            }
        }
    }
}

.banner {
    background-color: $color-amarillo;
    ;
    margin: 90px 0px 0px ;
    div {
        text-align: center;
        padding: 30px 0px;
    }
    .banner-contenedor {
        @extend %flex-around;
        flex-wrap: wrap;
        div {
            h4 {
                font-size: 20px;
                color: $color-blanco;
                margin: 10px 0px;
            }
            p {
                color: $color-gris-oscuro;
                font-size: 16px;
            }
        }
    }
}