/*-----------INDEX-----------*/
.hero {
    width: 100%;
    height: 90vh;
    background-image: url(../img/hero3.jpg);
    background-position:bottom;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: $color-marron;
        font-size: 60px;
        font-weight: 700;
        position: relative;
        top: 15%;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    h2 {
        color: $color-dorado;
        font-size: 45px;
        font-weight: 600;
        position: relative;
        top: 15%;
    }
}

.categorias {
    .contenedor-categorias {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 135px 0px 100px 0px;
        div {
            position: relative;
            text-align: center;
            width: 400px;
            height: 400px;
            transition: 0.5s;
            &:hover{
                transform:scale(1.1);                
            }
            img {
                width: 400px;
                height: 400px;
                object-fit:cover;
                box-shadow: 10px 10px 23px -9px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 10px 23px -9px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 23px -9px rgba(0,0,0,0.75); 
            }
            h3 {
                position:absolute;
                bottom: 0;
                font-size: 35px;
                width: 100%;
                background-color: $color-naranja-oscuro;
                color: $color-blanco;
            }
        }
    }
}

.novedad, .marcas {
    display: flex;
    align-items: center;
    justify-content: center;
    .novedad-columna, .marcas-columna {
        .novedad-titulo, .marcas-titulo {
            h3 {
                font-size: 40px;
                font-weight: 600;
                text-align: center;
                text-transform:uppercase;
                margin: 90px 0px 50px;
                color: $color-verde;
            }
        }
        div {
            img {
                padding-left: 20px;
            }
            p {
                font-size: 18px;
                font-weight: 300;
                text-align:justify;
                padding: 0px 35px 0px 0px;
            }
        }
    }
}

.grid-galeria {
    width: 100%;
    margin-top: 50px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 140px;    
    gap: 70px 20px;
    div {
        img {
            width: 100%;
            height: 100%;
            object-fit:contain;
            transition: 1s;
            &:hover {
                transform:scale(1.2);
            }
        }
    }
}

.banner {
    background-color: $color-amarillo;
    margin: 150px 0px ;
    div {
        text-align: center;
        padding: 30px 0px;
    }
    .banner-contenedor {
        @extend %flex-around;
        flex-wrap: wrap;
        div {
            h4 {
                font-size: 20px;
                color: $color-blanco;
                margin: 10px 0px;
            }
            p {
                color: $color-negro;
                font-size: 16px;
            }
        }
    }
}