/*-----------MAPS-----------*/

$titulo:(
    color-texto:$color-naranja-claro,
    fuente-texto: 40px,
    margen-inferior: 30px,
    peso-fuente: 600,
    alineacion-texto: center,
);

$parrafo:(
    fuente-texto: 18px,
    alineacion-texto: justify,
);