/*-----------Novedades-----------*/

$titulo:(
    color-texto:$color-dorado,
    fuente-texto: 40px,
    margen-inferior: 20px,
    peso-fuente: 600,
    alineacion-texto: center,
);

$parrafo:(
    fuente-texto: 18px,
    alineacion-texto: justify,
);