/*------INDEX-----*/

@media screen and (max-width: 1320px){
    .categorias{
        .contenedor-categorias{
            div{
                width: 440px;
            }
        }
    }
}

@media screen and (max-width: 920px){
    .hero{

        h1{
            font-size: 50px;
        }
        h2{
            font-size: 40px;
        }
    }

    .categorias {
        .contenedor-categorias {
            div {
                width: 410px;
                margin-bottom: 50px;
            }
        }
    }

    .novedad, .marcas{
        .novedad-columna, .marcas-columna{
            .novedad-titulo, .marcas-titulo{
                h3{
                    font-size: 40px;
                }
            }
        }
    }

    .grid-galeria {
        padding: 0 10px;
    }
}


@media screen and (max-width: 742px){
    .hero{
        background-size: cover;
        height: 60vh;
        h1{
            font-size: 40px;
        }
    }

    .novedad, .marcas{
        .novedad-columna, .marcas-columna{
            .novedad-titulo, .marcas-titulo{
                h3{
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 625px){

    .categorias{
        .contenedor-categorias{
            div{
                margin: 40px 0px;
            }
        }
    }
    .novedad, .marcas{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .novedad-columna, .marcas-columna{
            .novedad-titulo, .marcas-titulo{
                h3 {
                    margin: 20px 0px 30px;
                }
            }
            div{
                p{
                    font-size: 15px;
                    padding: 0px 10px;
                }
            }
        }
    }
}

@media screen and (max-width:535px) {
    .hero {
        height: 50vh;
        h1{
            font-size: 35px;
        }
        h2{
            font-size: 30px;
        }
    }

    .novedad, .marcas{
        .novedad-columna, .marcas-columna{
            .novedad-titulo, .marcas-titulo{
                h3 {
                    font-size: 30px;
                }
            }
            div{
                p{
                    font-size: 15px;
                    padding: 20px 10px;
                }
            }
        }
    } 
}

/*------PRODUCTOS------*/
@media screen and (max-width: 730px){

    footer {
        flex-direction: column;
        p{
            margin-bottom: 10px;
        }
    }
}

/*-----------NOSOTROS-----------*/
@media screen and (max-width: 635px){
    .contenedor-fluido{
        div{
            div{
                p{
                    font-size: 15px;
                }
            }
        }
    }
}

/*-----------NOVEDADES-----------*/
@media screen and (max-width: 468px){

    footer {
        p{
            margin-bottom: 10px;
            padding-left: 20px;
        }
    }
}

/*-----------CONTACTO-----------*/
@media screen and (max-width: 660px){

    .contenedor-fluido-contacto{
        div{
            div{
                h2{
                    font-size: 25px;
                }
                div{
                    h3{
                        font-size: 18px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            div{
                p{
                    font-size: 15px;
                }
            }
        }
    }

}
