/*------INDEX-----*/

@media screen and (max-width: 1320px){
    .categorias{
        div{
            div{
                width: 440px;
            }
        }
    }
}

@media screen and (max-width: 920px){
    .hero{
        div {
            width:90%;
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 40px;
            }
        }
    }

    .novedad{
        .novedad-columna{
            .novedad-titulo{
                h3{
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 742px){
    .hero{
        background-size: contain;
        height: 60vh;
        div{
            h1{
                font-size: 42px;
            }
        }
    }

    .novedad{
        .novedad-columna{  
            .novedad-titulo{
                h3{
                    font-size: 28px;
                }  
            } 
        }
    }
}

@media screen and (max-width: 625px){
    header {
        flex-direction: column;
    }

    .categorias{
        div{
            div{
                margin: 50px 0px;
            }
        }
    }
    .novedad{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .novedad-columna{
            .novedad-titulo{
                h3 {
                    margin: 20px 0px 30px;
                }
            }
            div{
                p{
                    font-size: 16px;
                    padding: 0px 10px;
                }
            }
        }
    }
}

@media screen and (max-width:535px) {
    .hero {
        height: 50vh;
        div{
            h1{
                font-size: 35px;
            }
            h2{
                font-size: 30px;
            }
        }
    }

    .novedad{
        .novedad-columna{
            .novedad-titulo{
                h3 {
                    font-size: 30px;
                }
            }
        }
    } 
}

/*------PRODUCTOS------*/
@media screen and (max-width: 730px){

    footer {
        flex-direction: column;
        p{
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 610px){

    header {
        flex-direction: column;
    }
}

/*-----------NOSOTROS-----------*/
@media screen and (max-width: 635px){
    .contenedor-fluido{
        div{
            div{
                p{
                    font-size: 15px;
                }
            }
        }
    }
}

/*-----------NOVEDADES-----------*/
@media screen and (max-width: 468px){

    footer {
        p{
            margin-bottom: 10px;
            padding-left: 20px;
        }
    }
}

/*-----------CONTACTO-----------*/
@media screen and (max-width: 660px){

    .contenedor-fluido-contacto{
        div{
            div{
                h2{
                    font-size: 25px;
                }
                div{
                    h3{
                        font-size: 18px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            div{
                p{
                    font-size: 15px;
                }
            }
        }
    }

}
