/*Colores Arbol Logo*/

$color-marron: #594E38;
$color-verde:#A4C246;
$color-verde-claro: #B3BB42;
$color-verde-oscuro:#63954E;
$color-verde-oscuro-2:#72A300;
$color-violeta:#7E1E5D;
$color-violeta-claro:#6C3D55;
$color-dorado: #C4AC3E;
$color-amarillo:#DFBF00;
$color-amarillo-claro:#D9C917;
$color-naranja:#DD8C22;
$color-naranja-claro:#FDC856;
$color-naranja-oscuro:#BF6430;
$color-bordo: #651517;

/*Colores Oscuros*/

$color-negro:#333333;
$color-negro-back: #3333337c;
$color-negro-cat:#030303;
$color-overlay: #333333b4;
$color-gris-oscuro:#605E5E;
$color-gris:#f2f2f27b;
$color-gris-claro: #f2f2f2b1;
$color-gris-header: #f2f2f289;
$color-blanco:#FFFFFF;




