$color-verde-claro:#A6C447;
$color-verde-oscuro:#72A300;
$color-amarillo:#DFBF00;
$color-naranja:#DD8C22;
$color-gris:#f2f2f27b;
$color-negro:#333333;
$color-negro-back: #3333337c;
$color-naranja-oscuro:#BF6430;
$color-violeta:#731D5C;
$color-negro-cat:#030303;
$color-blanco:#FFFFFF;
$color-gris-oscuro:#605E5E;
$color-dorado: #BF9F3F;
$color-overlay: #333333b4;
$color-gris-claro: #f2f2f2b1;